.movies__wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  img {
    width: 180px;
  }
  .movie-card {
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 10px;
    margin: 6px;
  }
}
