@import 'colors';

.nav-wrapper {
  color: white;
  background-color: $dark-blue-color;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  .nav-side-left {
    display: flex;
    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 150px;
    }
  }
  ul {
    margin: 8px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      width: max-content;
    }
  }
  .nav-side-right {
    display: flex;
    align-items: center;
    button {
      margin: 0px 20px;
      padding: 2px;
      background-color: transparent;
      color: white;
      border: solid 1px white;
      &:hover {
        background-color: white;
        color: black;
        transition-property: color, background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
      }
    }
  }
}
.hidden {
  display: none;
}
