.film-recommendations__wrapper {
  .film-slide {
    margin: 10px 0px;
    max-height: 380px;
    .film-image {
      position: relative;
      img {
        width: 275px;
        height: 300px;
        border-radius: 10px;
      }
      p {
        display: none;
        padding: 6px 0px 6px 6px;
        background-color: white;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -12px;
      }
    }
    .show {
      display: block !important;
    }
    //   img {
    //     width: 200px;
    //   }
  }
  .info {
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    a {
      color: black;
    }
    :hover {
      opacity: 0.8;
    }
  }
  h3,
  p {
    margin: 4px 0px 16px 0px;
  }
}
