@import '@/assets/scss/breakpoints.scss';
.film-recommendations__wrapper {
  .film-slide {
    margin: 10px 0px;
    .film-image {
      position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      p {
        display: none;
        padding: 6px 0px 6px 6px;
        background-color: white;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -12px;
      }
    }
    .show {
      display: block !important;
    }
    //   img {
    //     width: 200px;
    //   }
  }
  .info {
    padding: 0px 4px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    a {
      color: black;
    }
    :hover {
      opacity: 0.8;
    }
  }
  h3,
  p {
    margin: 4px 0px 16px 0px;
  }
}

@include media-900 {
  .film-recommendations__wrapper {
    .info {
      h3 {
        font-size: 15px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

@include media-500 {
  .film-recommendations__wrapper {
    .info {
      h3 {
        font-size: 13px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}
