.known-for__wrapper {
  width: 100%;
  .swiper {
    width: 100%;
    margin: 0px;
    .swiper-slide {
      height: fit-content;
      img {
        width: 100%;
        border-radius: 10px;
      }
      p {
        text-align: center;
        font-size: 14px;
        margin: 8px 0px 24px 0px;
      }
    }
    .swiper-scrollbar {
      background-color: transparent;
    }
  }
}
