.film-card__wrapper {
  position: relative;
  img {
    // width: 150px;
    width: 100%;
    border-radius: 10px;
  }
  .film-circle {
    bottom: -25px;
    left: 10px;
    position: absolute;
  }
}
.film-card__text {
  width: 100%;
  margin: 14px 0px 4px 20px;
  h2 {
    margin: 2px 0px 4px 0px;
    font-size: 20px;
  }
  p {
    margin: 0px;
  }
}
