.background-circle {
  stroke-width: 3px;
  fill: none;
  stroke: rgb(226, 226, 226);
}
.progress-circle {
  stroke-width: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.text {
  font-weight: bold;
  fill: white;
}

// Some CSS in Component
