.background {
  fill: none;
  stroke: rgb(226, 226, 226);
}
.progress {
  fill: none;
  stroke: #12c2e9;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.text {
  //   font-size: 2rem;
  font-weight: bold;
}
