@import '@/assets/scss/breakpoints.scss';

.biography__wrapper {
  padding: 10px 10px 10px 0px;
  @include media-700 {
    width: 100%;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    margin: 10px 0px 20px 0px;
    font-size: 30px;
    font-weight: 600;
  }
}
.person-biography {
  width: 100%;
  h3 {
    margin: 0px;
  }
  p {
    margin: 6px 0px;
    font-size: 15px;
  }
}
