.person-info {
  img {
    border-radius: 10px;
  }
  .social {
    a {
      color: black;
    }
    margin: 14px 0px;
  }
  .personal-info {
    .info {
      margin: 16px 0px;
      h2 {
        font-size: 16px;
        margin: 0px;
      }
      p {
        font-size: 15px;
        margin: 6px 0px;
      }
    }
  }
}
