@import '@/assets/scss/colors.scss';
@import '@/assets/scss/breakpoints.scss';
.movie-info-section {
  display: flex;
  width: 100%;
  gap: 60px;
  img:first-child {
    box-sizing: content-box;
    padding: 20px;
    border-radius: 12px;
  }
}

.background {
  width: 100%;
  background-position: center;
  background-size: cover;
  .filter {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(rgba(3, 37, 65, 0.7) 50%, rgba(3, 37, 65, 0.7) 50%);
  }
}
.people {
  margin-top: 30px;
  ol {
    display: grid;
    padding: 0px;
    grid-template-columns: auto auto auto;
    list-style-type: none;
    list-style-position: inside;
    gap: 20px;
    p,
    h4 {
      margin: 2px 0px;
    }
  }
}
.film__text__wrapper {
  padding: 10px;
  margin-top: 35px;
  color: white;
  .heading__wrapper {
    .main-heading {
      display: flex;
      align-items: center;
      gap: 10px;
      h1,
      p {
        margin: 0px;
      }
    }
    .sub-heading {
      display: flex;
      align-items: center;
      gap: 10px;
      span:first-child {
        border: 1px solid white;
        padding: 1px 2px 1px 2px;
      }
      ul {
        display: flex;
        margin: 0px;
        gap: 10px;
        li::after {
          content: ',';
        }
        li:last-child:after {
          content: '';
        }
        li:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
      h2,
      p {
        margin: 0px;
      }
    }
  }
  .interactive_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    .user-score {
      display: flex;
      align-items: center;
      gap: 6px;
      p {
        font-size: 18px;
        width: 60px;
      }
    }
  }
  .interactive_buttons {
    svg {
      margin: 0px 10px;
      border-radius: 50%;
      user-select: none;
      background-color: $dark-blue-color;
      padding: 4px;
    }
  }
}

// @include media-1200 {
//   .movie-info-section {
//     img:first-child {
//       width: 300px;
//       box-sizing: content-box;
//       padding: 20px;
//       border-radius: 12px;
//     }
//   }
// }

@include media-1200 {
  .background {
    .filter {
      .movie-info-section {
        gap: 0px;
        img {
          width: 270px;
        }
      }
    }
  }
}

@include media-900 {
  .background {
    .filter {
      .movie-info-section {
        gap: 0px;
        img:first-child {
          width: 270px;
        }
      }
      .film__text__wrapper {
        .heading__wrapper {
          .sub-heading {
            gap: 3px;
            h2 {
              font-size: 16px;
            }
            span {
              font-size: 15px;
            }
            ul {
              gap: 0px;
            }
            li {
              font-size: 15px;
            }
            p {
              font-size: 15px;
            }
          }
        }
        .interactive_wrapper {
          gap: 10px;
          .user-score {
            gap: 4px;
            p {
              font-size: 15px;
            }
          }
          .interactive_buttons {
            svg {
              padding: 3px;
              margin: 0px 6px;
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}
@include media-800 {
  .background {
    .filter {
      .movie-info-section {
        gap: 0px;
        img:first-child {
          padding: 10px 5px;
          width: 240px;
        }
      }
      .film__text__wrapper {
        .heading__wrapper {
          .sub-heading {
            gap: 3px;
            h2 {
              font-size: 14px;
            }
            span {
              font-size: 13px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@include media-700 {
  .background {
    .filter {
      .movie-info-section {
        gap: 5px;
        img:first-child {
          width: 200px;
        }
        .film__text__wrapper {
          .tagline {
            font-size: 14px;
            font-style: italic;
            margin: 12px 0px 20px 0px;
          }
          .interactive_wrapper {
            gap: 1px;
            .user-score {
              gap: 4px;
              p {
                font-size: 15px;
              }
            }
            .interactive_buttons {
              svg {
                padding: 2px;
                margin: 0px 5px;
                width: 23px;
                height: 23px;
              }
            }
          }
          .overview {
            h2 {
              font-size: 17px;
              margin: 4px 0px;
            }
            p {
              font-size: 14px;
              margin: 4px 0px;
            }
          }
        }
      }
    }
  }
}

@include media-600 {
  .background {
    .filter {
      .movie-info-section {
        flex-direction: column;
        align-items: center;
        img:first-child {
          width: 300px;
          margin: 0px;
        }
        .film__text__wrapper {
          margin: 0px;
          .heading__wrapper {
            margin: 0px 0px 30px 0px;
            text-align: center;
          }
          .interactive_wrapper {
            gap: 13px;
            .user-score {
              gap: 4px;
              p {
                font-size: 15px;
              }
            }
            .interactive_buttons {
              svg {
                padding: 4px;
                margin: 0px 6px;
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-500 {
  .background {
    .filter {
      .movie-info-section {
        .film__text__wrapper {
          .sub-heading {
            gap: 4px;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
