@import '@/assets/scss/breakpoints.scss';
.movie-social {
  .social-text__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    .categories {
      display: flex;
      gap: 40px;
      h3 {
        cursor: pointer;
        margin: 8px 0px;
      }
    }
    .selected {
      border-bottom: 3px solid black;
    }
  }
  .review-wrapper {
    box-shadow: 0px 0px 10px lightgray;
    padding: 20px;
    margin: 20px 0px;
  }
  .author {
    display: flex;
    gap: 20px;
    align-items: center;
    .username,
    .date {
      font-weight: 800;
    }
    .review-sub-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
    h2 {
      font-size: 20px;
      margin: 0px;
    }
    p {
      font-size: 16px;
      margin: 0px;
    }
    .rating {
      background-color: black;
      width: max-content;
      border-radius: 10px;
      padding: 2px 8px 2px 0px;
      color: white;
      display: flex;
      align-items: center;
    }
  }
}

@include media-700 {
  .movie-social {
    padding: 10px 0px 10px 15px;
    .social-text__wrapper {
      .categories {
      }
    }
    .review-wrapper {
      .author {
        margin: 0px 0px;
        img {
          width: 35px;
          height: 35px;
        }
        h2 {
          font-size: 16px;
        }
        .review-sub-info {
          .rating {
            svg {
              width: 22px;
              height: 22px;
            }
            span {
              font-size: 14px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
      .review {
        font-size: 15px;
      }
    }
  }
}
