@import '@/assets/scss/breakpoints.scss';

.person-wrapper {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  box-sizing: content-box;
  .person-history__wrapper {
    width: 63%;
  }
}

@include media-700 {
  .person-wrapper {
    flex-direction: column;
  }
}
