@import '@/assets/scss/breakpoints.scss';

.season-wrapper {
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    border-radius: 10px 0px 0px 10px;
  }
  .rating {
    background-color: black;
    width: max-content;
    border-radius: 10px;
    padding: 1px 8px 0px 0px;
    color: white;
    display: flex;
    align-items: center;
  }
  .season-heading {
    h2 {
      margin: 0px;
    }
  }
  .season-data {
    display: flex;
    align-items: center;
    gap: 6px;
    p,
    span {
      margin: 0px;
      font-weight: bold;
    }
    .date {
      font-size: 14px;
    }
  }
  .final {
    background-color: black;
    color: white;
    border-radius: 40px;
    font-size: 12px;
    padding: 4px;
  }
  .last-serie {
    border-bottom: 1px solid black;
    cursor: pointer;
  }
}

@include media-1200 {
  .season-wrapper {
    align-items: normal;
    .season-info {
      .season-heading {
        h2 {
          font-size: 20px;
        }
        .season-data {
          .rating {
            svg {
              width: 24px;
              height: 24px;
            }
            span {
              font-size: 15px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
      .season-text {
        p {
          font-size: 15px;
          margin: 6px 0px;
        }
      }
      .season-data {
        svg {
          width: 25px;
          height: 25px;
        }
        .last-serie,
        .date,
        .final {
          font-size: 13px;
        }
      }
    }
  }
}
@include media-900 {
  .season-wrapper {
    align-items: normal;
    flex-direction: column;
    img {
      height: 180px;
      border-radius: 12px 12px 0px 0px;
    }
    .season-info {
      padding: 10px;
      .season-heading {
        h2 {
          font-size: 20px;
        }
        .season-data {
          .rating {
            svg {
              width: 24px;
              height: 24px;
            }
            span {
              font-size: 15px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
      .season-text {
        p {
          font-size: 15px;
          margin: 6px 0px;
        }
      }
      .season-data {
        svg {
          width: 25px;
          height: 25px;
        }
        .last-serie,
        .date,
        .final {
          font-size: 13px;
        }
      }
    }
  }
}

@include media-600 {
  .season-wrapper {
    align-items: normal;
    flex-direction: column;
    img {
      height: 180px;
      border-radius: 12px 12px 0px 0px;
    }
    .season-info {
      padding: 10px;
      .season-heading {
        h2 {
          font-size: 20px;
        }
        .season-data {
          .rating {
            svg {
              width: 24px;
              height: 24px;
            }
            span {
              font-size: 15px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
      .season-text {
        p {
          font-size: 15px;
          margin: 6px 0px;
        }
      }
      .season-data {
        svg {
          width: 25px;
          height: 25px;
        }
        .last-serie,
        .date,
        .final {
          font-size: 13px;
        }
      }
    }
  }
}
