@import '@/assets/scss/colors.scss';
@import '@/assets/scss/breakpoints.scss';

.search-block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  max-height: 270px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
  }
  .search-block__components {
    width: 90%;
    position: absolute;
    top: 15%;
    color: white;
    .search-bar {
      width: 100%;
      position: relative;
      input {
        border: none;
        border-radius: 40px;
        padding: 13px 26px 13px 26px;
      }
      .search-input {
        width: 95%;
      }
      ::placeholder {
        padding-left: 6px;
      }
      .search-button {
        text-align: center;
        color: white;
        font-weight: bold;
        background: linear-gradient(to right, $light-green-color 0%, $light-blue-color 100%);
        top: 0px;
        right: -10px;
        position: absolute;
      }
    }
  }
}

@include media-1200 {
  h1,
  h2 {
    font-size: 22px;
  }
}
@include media-900 {
  .search-block {
    height: 210px;
    .search-block__components {
      top: 15%;
      h1,
      h2 {
        font-size: 16px;
      }
      .search-bar {
        .search-input {
          width: 90%;
        }
        .search-button {
          width: 90px;
        }
      }
    }
  }
}

@include media-700 {
  .search-block {
    height: 180px;
    .search-block__components {
      top: 5%;
      h1,
      h2 {
        font-size: 17px;
      }
      .search-bar {
        .search-input {
          padding: 10px;
        }
        ::placeholder {
          font-size: 12px;
        }
        .search-button {
          padding: 10px;
        }
      }
    }
  }
}

@include media-400 {
  .search-block {
    height: 180px;
    .search-block__components {
      .search-bar {
        .search-input {
          padding: 8px;
        }
        ::placeholder {
          font-size: 12px;
        }
        .search-button {
          width: 80px;
          font-size: 13px;
          padding: 8px;
        }
      }
    }
  }
}
